
<div class="no-wrapper"></div>
<h1 class="highlight">myStudio, valid HTML &amp; CSS<br />
  extremely light and clean Template, easily modified</h1>
<!-- Start Container -->
<div class="wrap">
  <div class="cont">
    <ul class="col">
      <!-- Start Left Column -->
      <li class="col220">
        <h2>About us</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum pretium ornare neque non dictum.</p>
        <div class="hr_white"></div>
        <p> <strong>myStudio</strong><br />
          ph. +01 234 45678<br />
          mb. +01 234 45678<br />
          mail@mystudio.com<br />
          <br />
          <img src="../static/photos/img_220.jpg" alt="Photo" title="Photo" /></p>
      </li>
      <!-- Start Left Column --> 
      <!-- Start Right Column -->
      <li class="col700">
        <h2>Please contact us</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vehicula metus eget justo consectetur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vehicula metus eget justo consectetur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vehicula metus eget justo consectetur. Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
        <form action="../static" class="contact_form">
          <input type="text" class="text" value="name" />
          <br />
          <input type="text" class="text" value="mail" />
          <br />
          <textarea rows="5" class="textarea">comment</textarea>
          <br />
          <input type="submit" class="submit" value="Send" />
        </form>
      </li>
      <!-- End Right Column -->
    </ul>
    <div class="clear"></div>
  </div>
</div>
<!-- End Container --> 
