
<!-- Start Slider -->
<ul id="slider">
  <li><img src="photos/01.jpg" alt="Photo" title="Photo" /></li>
  <li><img src="photos/02.jpg" alt="Photo" title="Photo" /></li>
</ul>
<!-- End Header --> 
<!-- Start Highlight -->
<h1 class="highlight">Fine finish carpentry from design through installation in southern Maine and throughout New England</h1>
<!-- End Highlight --> 
<!-- Start Container -->
<div class="wrap">
  <div class="cont"> 
    <!-- Start Columns -->
    <ul class="col">
      <li class="col300">
        <h2 class="about">Lorem ipsum dolor</h2>
        <p>Lorem ipsum dolor <strong>sit amet</strong>, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
        <span class="btn"><a href="features.html">details</a></span></li>
      <li class="col300">
        <h2 class="settings">Lorem ipsum dolor</h2>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna <strong>aliquam erat</strong> volutpat.</p>
        <span class="btn"><a href="features.html">details</a></span></li>
      <li class="col300">
        <h2 class="contact">Lorem ipsum dolor</h2>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod <strong>tincidunt</strong> ut laoreet dolore magna aliquam erat volutpat.</p>
        <span class="btn"><a href="features.html">details</a></span></li>
    </ul>
    <div class="clear"></div>
    <div class="hr_white"></div>
    <ul class="col">
      <li class="col460">
        <h2 class="display">Lorem ipsum dolor</h2>
        <ul class="thumb">
          <li class="thumb"><a href="photos/photo.jpg" class="photo"><img src="photos/thumb.jpg" alt="Photo" title="Photo" /></a></li>
          <li class="thumb"><a href="photos/photo.jpg" class="photo"><img src="photos/thumb.jpg" alt="Photo" title="Photo" /></a></li>
          <li class="thumb"><a href="photos/photo.jpg" class="photo"><img src="photos/thumb.jpg" alt="Photo" title="Photo" /></a></li>
          <li class="thumb"><a href="photos/photo.jpg" class="photo"><img src="photos/thumb.jpg" alt="Photo" title="Photo" /></a></li>
          <li class="thumb"><a href="photos/photo.jpg" class="photo"><img src="photos/thumb.jpg" alt="Photo" title="Photo" /></a></li>
          <li class="thumb"><a href="photos/photo.jpg" class="photo"><img src="photos/thumb.jpg" alt="Photo" title="Photo" /></a></li>
          <li class="thumb"><a href="photos/photo.jpg" class="photo"><img src="photos/thumb.jpg" alt="Photo" title="Photo" /></a></li>
          <li class="thumb"><a href="photos/photo.jpg" class="photo"><img src="photos/thumb.jpg" alt="Photo" title="Photo" /></a></li>
          <li class="thumb"><a href="photos/photo.jpg" class="photo"><img src="photos/thumb.jpg" alt="Photo" title="Photo" /></a></li>
          <li class="thumb"><a href="photos/photo.jpg" class="photo"><img src="photos/thumb.jpg" alt="Photo" title="Photo" /></a></li>
        </ul>
      </li>
      <li class="col220">
        <h2 class="comments">Lorem ipsum dolor</h2>
        <ul class="arr_list">
          <li><a href="features.html">Lorem ipsum</a></li>
          <li><a href="features.html">Euismod tincidunt</a></li>
          <li><a href="features.html">Consectetuer adipiscing</a></li>
          <li><a href="features.html">Erat volutpat</a></li>
          <li><a href="features.html">Diam nonummy</a></li>
        </ul>
      </li>
      <li class="col220">
        <h2 class="blank">Compatibility</h2>
        <img src="images/browesers.png" alt="Browesers" title="Browesers" /><br />
        <p>Lorem ipsum dolor sit amet, consectetur <a href="features.html">adipiscing elit</a>. Vestibulum pretium ornare neque non dictum.</p>
      </li>
    </ul>
    <!-- End Columns -->
    <div class="clear"></div>
  </div>
</div>
